*{
    margin: 0;
    border: 0;
    font-family: 'Work Sans';
}

/* header style start */
header
{
    width: 1600px;
    height: 808px;
    color: white;
    background-image: url(../assets/images/banner/banner3.png);
}

#header-title{
    font-weight: 700;
    font-size: 35px;
    text-align: right;
    padding-top: 205px;
    padding-right: 225px;
}

#header-text{
    text-align: right;
    padding-right: 225px;
}

.primary-btn{
    height: 65px;
    color: #005FAC;
    font-size: 25px;
    font-weight: bold;
    padding: 0px 25px;
    border-radius: 5px; 
}

#header-btn{
    text-align: right;
    padding-right: 225px;
}
/* header style end */

/* story section style start */
#story{
    display: flex;
}

#sad-img{
    padding: 125px 145px;
}

#failure-story h2{
    font-weight: 700;
    font-size: 35px;
}

#failure-story p{
    padding-bottom: 15px;
}

#failure-story{
    padding: 415px 245px 125px 0px;
}
/* story section style end */

/* plans section style start */
.title{
    text-align: center;
    font-weight: 1200;
    font-size: 75px;
}

#plans{
    display: flex;
    justify-content: space-between;
}

#plans ul{
    list-style: none;
    padding: 95px;
}

#web-sym{
    padding-left: 57px;
}

#js-sym{
    padding-left: 13px;
}

#smok-sym{
    padding-left: 39px;
}

#ecom-sym{
    padding-left: 15px;
}

#web-text{
    padding-left: 45px;
}

#js-text{
    padding-left: 2px;
}

#smok-text{
    padding-left: 31px;
}

#ecom-text{
    padding-left: 3px;
}
/* plans section style end */

/* contact section style start */
#contact{
    height: 300px;
    margin: 75px 175px 175px 225px;
    background-image:linear-gradient(to right, #005FAC 0%, rgba(0, 95, 172, 0) 100%),url(../assets/images/watch.png);
    background-repeat: no-repeat;
    border-radius: 10px;
}

#contact-title{
    color: #FFFFFF;
    font-weight: 900;
    font-size: 35px;
    padding-top: 95px;
    padding-left: 75px;
}

#contact-btn{
    margin-top: 45px;
    margin-left: 75px;
}
/* contact section style end */

/* visit section style start */
#visit{
    height: 300px;
    margin: 75px 175px 75px 225px;
    background-image:linear-gradient(to right, #005FAC 0%, rgba(0, 95, 172, 0) 100%);
    background-repeat: no-repeat;
    border: 3px solid black;;
    border-radius: 10px;
}

#links{
    padding: 35px 0px 0px 175px;
}

#links a{
    color: white;
    font-weight: bold;
    font-size: 35px;
    text-decoration: none;
} 

#links a:hover{
    color: black;
} 
/* visit section style end */